table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: table-header-group;
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(221, 221, 221);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(221, 221, 221);
  box-shadow: inset 0px -1px 0px 0px rgba(221, 221, 221);
}
tbody {
  display: table-row-group;
}
tr {
  display: table-row;
}
th {
  padding: 10px;
}
td {
  display: table-cell;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(221, 221, 221);
}
.table-wrapper {
  overflow: auto;
  height: 600px;
}
tr:hover {
  background-color: rgb(245, 245, 245);
}
